@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(234, 228, 228);
}

h4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  color: rgb(115, 115, 233);
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: rgb(169, 115, 169); /* Change to the desired color */
  text-decoration-thickness: 0.2em; /* Adjust the thickness of the underline */
  text-underline-offset: 0.3em; /* Adjust the distance of the underline */
  text-decoration-style: dotted;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(115, 115, 233);
}

.photo {
  border: 0.3em solid rgb(169, 115, 169);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
  object-fit: cover; /*so pictures dont loose img quality*/
  /* margin-top: 4vh; */
}

/* Styles for full-size layout */
.section-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-right: 20rem;
  margin-left: 20rem;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .section-center {
    grid-template-columns: 1fr;
  }
  .photo {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .photo {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .filter-btn {
    font-size: xx-small; /* Adjust the font size for smaller screens */
    padding: 0.5em 1em; /* Adjust the padding for smaller screens */
  }
}

/* to move title and btns to center */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* to move item-info right of  img */
.menu-item {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.item-text {
  opacity: 0.5;
  color: rgb(32, 32, 95);
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  left: 25%; /*to center the line*/
  bottom: 0.5em; /* Adjust the distance of the line from the text */
  width: 50%; /* Adjust the length of the line */
  height: 0.25em; /* Adjust the thickness of the line */
  background-color: rgb(169, 115, 169);
}

.title {
  margin-top: 2em;
}

.btn-container {
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.filter-btn {
  border: 0.2em solid rgb(169, 115, 169); /*thickness style and color*/
  border-radius: 0.5em; /*rounded corners*/
  background-color: transparent;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2); /* horizontal offset, vertical offset, blur radius,shadow color and opacity */
  text-transform: capitalize;
  font-size: larger;
  color: rgb(169, 115, 169);
}

.filter-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(169, 115, 169);
}

.price {
  color: rgb(169, 115, 169);
}
