@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(234, 228, 228);
}

h4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  color: rgb(115, 115, 233);
  text-transform: capitalize;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(115, 115, 233);
}

.photo {
  width: 150px;
  height: auto;
  border: 0.3em solid rgb(169, 115, 169);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
}
/* to move title and btns to center */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* to move item-info right of  img */
.menu-item {
  display: flex;
  gap: 1rem;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  left: 25%; /*to center the line*/
  bottom: 0.5em; /* Adjust the distance of the line from the text */
  width: 50%; /* Adjust the length of the line */
  height: 0.25em; /* Adjust the thickness of the line */
  background-color: rgb(169, 115, 169);
}

.title {
  margin-top: 2em;
}

.btn-container {
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.filter-btn {
  border: 0.2em solid rgb(169, 115, 169); /*thickness style and color*/
  border-radius: 0.5em; /*rounded corners*/
  background-color: transparent;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2); /* horizontal offset, vertical offset, blur radius,shadow color and opacity */
}

.filter-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(169, 115, 169);
}

.price {
  color: rgb(169, 115, 169);
}

.item-text {
  opacity: 0.5;
  color: rgb(32, 32, 95);
}
